QToolBar
{
    border: none;
    background-color: #3B4453;
    padding: 5px;
}

QToolBar > QToolButton
{
    border: none;
    border-radius: 7px;
    background-color: transparent;
    color: #eee;
}

QToolBar > QToolButton:hover
{
    background-color: #4E5A6E;
}